body{
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container{
  text-align: center;
  margin-top: 50px;
}

h1{
  color: #333333;
}

p{
  color: black;
}

.contador{
  font-size: 36px;
  color: #e74c3c;
  margin-top: 20px;
}

#img1 {
  height:280px;
}

.precoOriginal {
  font-size: 22px;
}

.precoNovo {
  font-size: 30px;
}