body{
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

.container{
  text-align: center;
  margin-top: 50px;
}

h1{
  color: blue;
}

p{
  color: black;
}

.contador{
  font-size: 36px;
  color: blue;
  margin-top: 20px;
}

#img1 {
  height:280px;
}

.precoOriginal {
  font-size: 22px;
}

.precoNovo {
  font-size: 30px;
}
p {
  background-color: blue;
}